<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/static/css/admin/style.css}">
    <title>Hóa Đơn</title>
</head>
<body>

<!-- Start Header -->
<div th:insert="~{admin/fragement/header}"></div>
<!-- End Header -->

<!--header section-->
<header class="headersection bg-primary text-white py-3">
    <div class="container">
        <h1>
            <i class="fas fa-pencil-alt"></i> Hóa Đơn
        </h1>
    </div>
</header>

<!---serach Section -->
<section class="search bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-4 ml-auto">
                <div class="input-group">
                    <input class="form-control" Placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--posts-->
<section class="postspost py-4">
    <div class="container">
        <div class="card ">
            <div class="card-header">
                <h3>Hóa Đơn</h3>
            </div>
            <table class="table table-striped">
                <thead class="bg-dark text-white">
                <td>STT</td>
                <td>Họ Tên</td>
                <td>SDT</td>
                <td>Email</td>
                <td>Địa Chỉ</td>
                <td>Trạng Thái</td>
                <td>Action</td>
                </thead>
                <tbody>
                <tr class="px-2" th:each="hd ,i : ${hoaDon}">
                    <td th:text="${i.index + 1}"></td>
                    <td th:text="${hd.hoTen}"></td>
                    <td th:text="${hd.soDienThoai}"></td>
                    <td th:text="${hd.email}"></td>
                    <td th:text="${hd.diaChi}"></td>
                    <td th:text="${hd.trangThai}"></td>
                    <td>
                        <button th:attr="onclick=|detailGH('${hd.idGH}')|" class="btn btn-primary">Details</button>
                        <button th:attr="onclick=|cancel('${hd.idGH}')|" href="details.html" class="btn btn-danger">
                            Cancel
                        </button>
                        <button th:attr="onclick=|confrimPayment('${hd.idGH}')|" th:if="${hd.trangThai == 'SHIPPING'}"
                                style="margin-top: 10px" href="details.html"
                                class="btn btn-success">Payment Confirmation
                        </button>
                        <button th:attr="onclick=|shipping('${hd.idGH}')|" th:if="${hd.trangThai == 'PROCESSING'}" style="margin-top: 10px" href="details.html"
                                class="btn btn-secondary">Switch to Shipping state
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="container">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link disabled" href="#">Previous</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link " href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link " href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link " href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Start Model Delete -->
<div class="modal fade" id="cancel" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancel</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn cancel không ??</p>
            </div>
            <div class="modal-footer">
                <button name="cancelModel" type="button" class="btn btn-danger">Delete
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Model Delete -->

<!-- Start Model Confirm -->
<div class="modal fade" id="paymentConfirm" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bạn Muốn Xác Nhận đơn thanh toán không</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Bạn Muốn Xác Nhận đơn thanh toán không</p>
            </div>
            <div class="modal-footer">
                <button name="confirmModel" type="button" class="btn btn-light">Confirm
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Model Confirm -->

<!-- Start Model Shipping -->
<div class="modal fade" id="shipping" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bạn muốn chuyển hóa đơn sang trạng thái shipping không</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Bạn muốn chuyển hóa đơn sang trạng thái shipping không</p>
            </div>
            <div class="modal-footer">
                <button name="shippingbtn" type="button" class="btn btn-light">Confirm
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Model Shipping -->

<!-- Start Model Detail -->
<div class="modal fade" id="chiTietGH" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                <tr>
                    <th>STT</th>
                    <th>Tên SP</th>
                    <th>Color</th>
                    <th>Đơn Giá</th>
                    <th>Size</th>
                    <th>Amount</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody th:name="body" class="align-middle">
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn-primary" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Model Delete -->

<!-- Start Footer -->
<div th:insert="~{admin/fragement/footer}"></div>
<!-- End Footer -->

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<script th:src="@{/static/js/hoa-don.js}"></script>

</body>
</html>