<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/static/css/admin/style.css}">
    <title>Admin Dashboard</title>

</head>

<body>
<!-- START HERE -->
<!-- Start Header -->
<div th:insert="~{admin/fragement/header}"></div>
<!-- End Header -->
<!--header section-->
<header class="headersection bg-primary text-white py-2">
    <div class="container">
        <h1>
            <i class="fas fa-cog "></i> Dashboard
        </h1>
    </div>
</header>

<!--main section here-->

<!--add action section-->
<section class="addsection bg-light py-3">
    <div class="container text-white ">
        <div class="row">
            <div class="col-md-3 mb-2">
                <a class="btn btn-primary btn-block p-2" data-toggle="modal" data-target="#addProduct">
                    <i class="fas fa-plus"></i> Add Product
                </a>
            </div>
            <div class="col-md-3 mb-2">
                <a class="btn btn-success btn-block p-2" data-toggle="modal" data-target="#addcategory">
                    <i class="fas fa-plus"></i> Add category
                </a>
            </div>
        </div>
    </div>
</section>

<!--modal section of each add action-->

<!--Add post modal-->
<div class="modal fade" id="addProduct">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white ">
                <h4 claas="modal-title">Add Product</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="tenSP">Tên Sản Phẩm</label>
                        <input id="tenSP" type="text" class="form-control form-control-lg">
                        <span style="color: red" th:id="error_tenSP"></span>
                    </div>
                    <div class="form-group">
                        <label for="tenSP">Giá Bán</label>
                        <input id="price" type="number" class="form-control form-control-lg">
                        <span style="color: red" th:id="error_price"></span>
                    </div>
                    <div class="form-group">
                        <label for="amount">Số Lượng</label>
                        <input id="amount" type="number" class="form-control form-control-lg">
                        <span style="color: red" th:id="error_amount"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="image">
                        <label class="input-group-text" for="image">Upload</label>
                    </div>
                    <span style="color: red" th:id="error_image"></span>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" th:id="category">
                            <option th:each="ct : ${categories}" th:value="${ct.id}" th:text="${ct.ten}"></option>
                        </select>
                    </div>
                    <label for="category">Shoes Size</label>
                    <div class="form-check">
                        <input style="margin-left: 5px" th:each="sz : ${shoeSize}" th:name="shoesize" type="checkbox"
                               th:value="${sz.id}" th:text="${sz.ten}">
                        <br>
                        <span style="color: red" th:id="error_shoezise"></span>
                    </div>
                    <label for="category">Clothing Size</label>
                    <div class="form-check">
                        <input style="margin-left: 5px" th:each="cz : ${clothingSize}" th:name="clothingsize"
                               type="checkbox"
                               th:value="${cz.id}" th:text="${cz.ten}">
                        <br>
                        <span style="color: red" th:id="error_clothingsize"></span>
                    </div>
                    <label for="category">Color</label>
                    <div class="form-check">
                        <input style="margin-left: 5px" th:each="ms : ${mauSac}" th:name="color" type="checkbox"
                               th:value="${ms.id}" th:text="${ms.ten}">
                        <br>
                        <span style="color: red" th:id="error_color"></span>
                    </div>
                    <div class="form-group">
                        <label for="season">Season</label>
                        <select class="form-control" th:id="season">
                            <option th:each="ss : ${seasons}" th:value="${ss.id}" th:text="${ss.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" type="text" name="editor1"
                                  class="form-control form-control-lg"></textarea>
                        <span style="color: red" th:id="error_description"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-white">
                <button type="button" onclick="saveProduct()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!--Add category modal-->
<div class="modal fade" id="addcategory">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success text-white ">
                <h4 claas="modal-title">Add Category</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input id="category" type="text" class="form-control form-control-lg">
                    </div>
                </form>
            </div>
            <div class="modal-footer text-white">
                <a class="btn btn-success" data-dismiss="modal">Save</a>
            </div>
        </div>
    </div>
</div>

<!---posts-->
<section class="posts ">
    <div class="container my-4">
        <div class="row">
            <div class="col-md-9 d-none d-md-block">
                <div class="card">
                    <div class="card-header">
                        <h3>5 Latest Products</h3>
                    </div>
                    <table class="table table-striped">
                        <thead class="bg-dark text-white">
                        <td>#</td>
                        <td>Tên SP</td>
                        <td>Img</td>
                        <td>Price</td>
                        <td>Created Date</td>
                        <td></td>
                        </thead>
                        <tbody>
                        <tr th:each="pr,i : ${products}" class="px-2">
                            <td th:text="${i.index + 1}"></td>
                            <td th:text="${pr.tenSP}"></td>
                            <td><img style="height: 30px;width: 40px" th:src="@{|/static/img${pr.img}}"/></td>
                            <td th:text="${pr.giaBan}"></td>
                            <td th:text="${pr.createdDate}"></td>
                            <td><a th:href="@{/api/admin/detail/{id}(id=${pr.id})}" class="btn btn-dark text-white">Details
                                <i
                                        class="fa fa-angle-double-right"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-primary text-center text-white">
                    <div class="card-body">
                        <h2>Product</h2>
                        <h3 class="display-4"><i th:text="${amountProduct}" class="fas fa-pencil-alt "></i></h3>
                        <a th:href="@{/api/admin/product}" class="btn btn-outline-light mt-1">View</a>
                    </div>
                </div>
                <div class="card bg-success text-center text-white my-2">
                    <div class="card-body">
                        <h2>Categories</h2>
                        <h3 class="display-4"><i class="fas fa-folder " th:text="${amountCategory}"></i></h3>
                        <a href="category.html" class="btn btn-outline-light mt-1">View</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Footer -->
<div th:insert="~{admin/fragement/footer}"></div>
<!-- End Footer -->

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<script th:src="@{/static/js/product.js}"></script>
</body>

</html>